.grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 5px;
  justify-content: center;
  margin: 20px 0;
}

.row {
  display: contents;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 41px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; /* Add margin for spacing between letters */
}


.cell.correct {
  background-color: #4caf50; /* Green for correct letters */
}

.cell.incorrect {
  background-color: #f44336; /* Red for incorrect letters */
}

/* Special colors */
.cell.yellow {
  background-color: yellow;
}

.cell.red {
  background-color: red; }

.cell.green {
  background-color: green;
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
}
