.game-board-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.theme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.theme-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

.theme-description {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  border: 2px solid #555;
  padding: 5px 10px;
  border-radius: 5px;
}

.word-display {
  width: 500px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  resize: none; /* Disable resizing */
  overflow: hidden;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  margin: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.cell {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.cell.selected {
  background-color: lightblue;
  border-color: lightblue;
}

.cell.found {
  background-color: lightgreen;
  border-color: lightgreen;
  color: white;
}

.cell.last-found {
  background-color: lightcoral;
  border-color: lightcoral;
  color: white;
}

.words-found-display {
  margin: 20px 0;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
